# Ignore everything by default in src/huxt
src/huxt/*
# But allow huxt_utils.py
!src/huxt/huxt_utils.py

# Include everything in src/ml
# (no rule needed if nothing is ignored)

# Include everything in src/figures
# (no rule needed if nothing is ignored)

# Ignore everything in src/data
src/data/*
# Include the .gitkeep so empty directory is included
!src/data/.gitkeep

# Ignore everything in src/figures
src/figures/*
# Include the .gitkeep so empty directory is included
!src/figures/metric_tables/.gitkeep

# Ignore HUXt directories
HUXt/
HUXt_tools/

# Ignore ipynb_checkpoints
**/.ipynb_checkpoints/
.ipynb_checkpoints/

# Ignore virtual_documents
.virtual_documents/

# Optional: general ignores
__pycache__/
*.pyc
*.pyo
*.log
*.tmp
.DS_Store
.env
